<html>
  <head>
    <title>Help</title>
    <link  rel="icon" href="/img/weather_favicon.png">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <p>{{titleHelp}}</p>
    </div>
    
    {{>footer}}
  </body>
</html>